
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/Roboto-Regular.ttf);  
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/font/Roboto-Bold.ttf);  
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/font/Roboto-Medium.ttf);  
  }
  